#iframeContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 60vh;
}
#iframeContainer iframe {
  flex: 1;
}
.horizontal-line {
  height: 2px;
  background-color: #635147;
}
.books{
  margin: 15px;
}
.books h2{
  color:#635147;
  font-weight:bold ;
}


.site-footer {
  background-color: #ADC4CE ;

}
.site-footer h5 {
  font-size: 20px;
  color: #567584; 
  
}
.site-footer ul.list-unstyled li {
  padding-bottom: 5px;
}
.site-footer ul.list-unstyled li a {
  color: #fff; 
  font-size:15px;
}
.social-icons
{
  padding-left:0;
  list-style:none
}
.site-footer .social-icons a {
  font-size:15px;
  color: #fff;
}
.site-footer .form-outline {
  position: relative;
  margin-bottom: 20px;
}
.site-footer .form-outline input {
  color: #567584; 
}
.site-footer .form-outline input::placeholder {
  color: #567584; 
}
.site-footer .btn-outline-white {
  color: #fff;
  background-color:#567584;
}
.site-footer .btn-outline-white:hover {
  background-color: #fff;
  color: #567584;
  
}
.site-footer .border-top {
  color: #567584; 
}




