.About {
    width: 80%;
    margin: auto;
    text-align: justify;
    font-size: 20px;
}

.About h1 {
    color: #567584;
    font-size: 2.5em;
    margin-bottom: 50px;
    text-align: center;
}

.About h2 {
    color: #567584;
    font-size: 1.5em;
    margin: 30px 0 10px 0;
}

.About p {
    font-size: 1.1em;
    line-height: 1.5;
}