button{
    background-color: #EEE0C9;
    border-radius: 10px;
    border-color: #EEE0C9;
    color: #567584;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}
.BookContainer {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
.BookImage {
    width: 300px;
    height: auto;
    margin-right: 30px;
  }
.BookInfo {
    flex: 1;
}
.Title {
    font-size: 32px;
}
.Detail {
    font-size: 18px;
    margin-bottom: 5px;
}
div{
    margin-bottom: 10px;
}
