.card-scroll-container {
  overflow-x: auto;
  padding: 20px 0;
}

.card-container {
  display: flex;
  gap: 20px;
}

.card {
  flex-shrink: 0;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card a {
  text-decoration: none;
  color: black;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.card-title {
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

