.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.card {
  height: 100%;
  width: 200px;
  margin: 10px;
  border: none;
}

figure {
  display: grid;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

figure > * {
  grid-area: 1/1;
  transition: transform 0.4s;
}

figure img {
  width: 100%;
  height: auto;
}

figcaption {
  display: grid;
  align-items: end;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  padding: 0.75rem;
  background: rgba(0, 0, 0, 0.6);
  clip-path: inset(0 0 0 0);
  -webkit-mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
  mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
  -webkit-mask-composite: intersect;
  mask-composite: intersect;
  -webkit-mask-clip: text;
  mask-clip: text;
  margin: -1px;
}

figure:hover figcaption {
  clip-path: inset(0 0 0 0);
}

figure:hover img {
  transform: scale(0.9);
}

